%header.tape.flex
  .chaptername.right Working With Investors
  .chapter.flex Chapter 7


%main.leaf.flex
  .inner.justify
    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/mpf.jpg", width: "100%"}

    %label.center.absolute
      %p.caption 
        Source: Point Nine Capital and Version One, Available as a  
        %a{href: "https://docs.google.com/spreadsheets/d/1DaRrcgYXKJIzjgTK_rgGfaRLIU3LTdVTa3kfMEmCCK8/edit#gid=0"} Google Sheet&nbsp;
        or 
        %a{href: "http://versionone.vc/wp-content/uploads/2016/07/Marketplace-Napkin.pdf"} Marketplace Napkin.

    