%header.tape.flex
  .chapter.flex Chapter 9
  .chaptername Conclusion

%main.leaf.flex
  .inner.justify
    %h1 CONCLUSION
    %h5 Marketplaces are tough to build. But once they reach liquidity, they can be even tougher to kill.
    %p Some of the most truly revolutionary companies born over the past decades have been marketplace companies, and we believe there’s a lot of room for new entrants. Some of the world’s next billion dollar unicorns will be marketplace startups. Buying and selling is an integral part of daily life, and there’s still great opportunity for innovation in new verticals, models, and monetization strategies.
    %p We also see how online marketplaces are changing participants’ lives. For example, Airbnb created a whole new consumer behavior and way of travel... and 72% of hosts in NYC depend on their Airbnb earnings to pay their rent or mortgage. Etsy enables crafters and hobbyists to make money doing what they love: 35% of Etsy sellers started their business without much capital investment (compared with 21% for small business owners in general).
