%header.tape.flex
  .chapter.flex Chapter 5
  .chaptername Marketplace Metrics

%main.leaf.flex
  .inner.justify
    %p If you’re interested in creating your own visualizations and dashboards, check out 
      %a{href: "http://www.batting399.com/post/126915896445/kpis-dashboards-must-haves-for-early-stage"}&nbsp;Vijay’s post
      \—which includes links to Keen.io’s templates, Plot.ly’s Web GUI, Plot.ly’s Python APIs and much more.

      

    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background44.jpg", width: "100%"}
    %label.center
      %p.caption 
        %a{href: "https://www.plot.ly/python/dashboard/marketplace-kpi-metrics/"}&nbsp;Samples of KPI dashboards&nbsp;
        created by Vijay Nagappan, MHS Capital, using Plot.ly and Keen.io 

    %p Shown overleaf is our Marketplace KPI dashboard.
    %p The dashboard is separated into three dimensions of your business’ efficacy: 
    %ol 
      %li overall marketplace metrics 
      %li seller/supplier metrics, and 
      %li buyer metrics.
