%header.tape.flex
  .chaptername.right New marketplace types
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %ul
      %li Decentralized exchanges (0x) that allow for trading the ever rising amount of tokens and currencies supporting the buying and selling of this new asset class
      %li Data marketplaces (Ocean Protocol, OpenMined) that are decentralized marketplaces around the collection and distribution of data
    %p
      In these decentralized marketplaces, transactions between marketplace participants are settled using the marketplace token. As the marketplace’s usage grows, those tokens will hopefully further appreciate, making participation from the supply side even more attractive. This will solve the chicken and egg dynamic that can pose such a problem for young marketplaces. It will also create strong network effects as the platform grows, resulting in a winner-takes-all where the biggest player is way bigger than its competitors.
    %p This space is rapidly evolving and no doubt, the players, models and trends will be vastly different just a few months from now. It’s an area we’ll be watching closely.