%header.tape.flex
  .chaptername.right New marketplace types
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %p
      OpenTable is a prime example. They offer various 
      %a{href: "https://restaurant.opentable.com/solutions/"}&nbsp;front-of-house software tools&nbsp;
      for restaurants, like seating management. While OpenTable may be a leader in online reservations today, these kinds of business tools attracted restaurants and gave them an easy way to list and manage their incoming reservations (thus helping OpenTable build liquidity).
    %p
      Zenefits is another example. They offer free benefits software for HR/business, and make their money off commissions when someone buys insurance from their marketplace. Free software can be a strong go-to-market strategy, as 
      %a{href: "http://tomtunguz.com/software-enabled-marketplaces/"}&nbsp;Tomasz Tunguz described:&nbsp;

    %blockquote
      %em Free good software spreads quickly, enabling rapid customer acquisition. In competitive markets or when pursuing customers that have been expensive to acquire, free software creates a clear, and often defensible, competitive distribution advantage. 
    %p
      However, developing a SaaS-enabled marketplace requires certain factors to be aligned. First, you need to make sure that the consumers or businesses that sign up for your tool will be just as willing to join and use your marketplace. This strategy will only work if the marketplace is complementary to the tool. 