%header.tape.flex
  .chapter.flex
    %em Bibliography 
  .chaptername A Guide to Marketplaces

%main.leaf.flex.small
  .inner
    %h5 Chapter 3
    %ul
      %li
        Etsy, 2016 Annual Report. 
        %a{href: "https://investors.etsy.com/~/media/Files/E/Etsy-IR/annual-report- proxy-materials/etsy-ar2016.pdf"} https://investors.etsy.com/~/media/Files/E/Etsy-IR/annual-report- proxy-materials/etsy-ar2016.pdf
      %li 
        “A rake too far: optimal platform pricing strategy.” Bill Gurley. Above the Crowd. April 18, 2013.
        %a{href: "http://abovethecrowd.com/2013/04/18/a-rake-too-far-optimal-platformpricing-strategy/"} http://abovethecrowd.com/2013/04/18/a-rake-too-far-optimal-platformpricing-strategy/

    %h5 Chapter 4
    %ul
      %li
        “The Evolution of Managed Marketplaces.” Anand Iyer, Medium. June 12, 2017. 
        %a{href: "https://medium. com/@ai/the-evolution-of-managed-marketplaces-3382290963b2"} https://medium. com/@ai/the-evolution-of-managed-marketplaces-3382290963b2
      %li 
        “Anatomy of a managed marketplace.” Ezra Galston. TechCrunch. May 25, 2017. 
        %a{href: "https:// techcrunch.com/2017/05/25/anatomy-of-a-managed-marketplace/"} https:// techcrunch.com/2017/05/25/anatomy-of-a-managed-marketplace/
      %li
        “Come for the tool, stay for the network.” Chris Dixon. CDIXON Blog. January 31, 2015.
        %a{href: "http://cdixon.org/2015/01/31/come-for-the-tool-stay-for-the-network/"} http://cdixon.org/2015/01/31/come-for-the-tool-stay-for-the-network/
      %li 
        “An overview of the Growing “SaaS Enabled Marketplace” Ecosystem.” Point Nine Capital, Medium. October 11, 2016. 
        %a{href: "https://medium.com/point-nine-news/an-overview-of-the-growing- saas-enabled-marketplace-ecosystem-b4f5314356e5"} https://medium.com/point-nine-news/an-overview-of-the-growing- saas-enabled-marketplace-ecosystem-b4f5314356e5
      %li
        “Free SaaS-enabled marketplaces — a novel go-to-market for software startups.” Tomasz Tunguz. 
        %a{href: "http://tomtunguz.com/software-enabled-marketplaces/"} http://tomtunguz.com/software-enabled-marketplaces/
    %h5 Chapter 5
    %ul 
      %li 
        “A KPI Dashboard for early-stage SaaS startups.” Christoph Janz, Point Nine Capital. April 11, 2013. 
        %a{href: "http://christophjanz.blogspot.com/2013/04/a-kpi-dashboard-for-early-stage-saas.html"} http://christophjanz.blogspot.com/2013/04/a-kpi-dashboard-for-early-stage-saas.html
