%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %p For example, with Uber, drivers and riders are matched partly by their ratings and scores. This creates a strong incentive for both the provider and buyer to care about their score and keep the transaction on the platform.
    %h3 5. Build a moat
    %p As any marketplace gains popularity, its supply inevitably becomes less and less unique. From Boris’ first-hand experience, booksellers once were exclusive to AbeBooks, but then started to list with Amazon after it launched its marketplace. Uber and Lyft drivers typically begin with one service, but often end up driving for both.
    %p And marketplace uniqueness can be diluted even when suppliers don’t intentionally leave. For example, Etsy struggles with design copying, including complaints of major retailers mass- producing products that look extremely similar to its handcrafted artisan designs.
    %p When building a marketplace, it’s safe to assume that the uniqueness of your supply will fade over time as your suppliers seek out opportunities on other marketplaces and competitors look to grab a piece of the pie that you discovered.
