%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1

%main.leaf
  .inner.justify
  	%p There’s no single way to build and scale a marketplace, but we hope this handbook provides some insight to help you in your journey. 
    %p Now let’s get to work.
    .right
      .subhead San Francisco, CA - Thursday, March 1, 2018 - VersionOne
      .subhead.uppercase — Boris and Angela, March 1, 2018
