%header.tape.flex
  .chapter.flex Chapter 5
  .chaptername Marketplace Metrics

%main.leaf.flex
  .inner.justify
    %h3 1. Overall Marketplace Metrics
    %p Gross merchandise volume (GMV) is the total sales dollar value for goods sold or services purchased through the marketplace over a certain time. Given that GMV is one of the most important marketplace KPIs, founders should track its growth rate on a monthly and yearly basis, and understand its makeup by customer acquisition channel. With GMV and the total number of transactions, we can compute the average order value (AOV) since:
    %p GMV = # of Transactions * AOV
    %p Revenue is the income that the company receives from facilitating connections in the marketplace. It comes in the form of transaction fees, listing fees, and/or the offering of premium seller/supplier services. With revenue and GMV, we can calculate take rate via:
    %p
      Revenue = GMV * Take Rate
    %p In addition to take rate, we can evaluate business efficacy by calculating the total customer acquisition cost (CAC) of buyers and sellers/suppliers as a percentage of revenue.
