%header.tape.flex
  .chaptername.right Finding the right business model for your marketplace
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify
    %h1 FINDING THE RIGHT BUSINESS MODEL FOR YOUR MARKETPLACE
    %p Many entrepreneurs come up with a great idea for a marketplace, but then fail to find the right business model that will translate their activity into profits. The challenging part of monetizing a marketplace is that buyers and sellers are looking to complete transactions with one another, and fees introduce friction to the process. Whichever party is charged a fee will naturally try to conduct the transaction off-platform whenever possible.
    %p Finding the right business model depends entirely on the characteristics of your market:
    %ul
      %li If customers are comfortable buying products/services over the marketplace with little back and forth, then seller transaction fees (complemented with additional seller services) are most likely the way to go.
      %li If the marketplace acts purely like the classifieds (no transactions), listing fees make more sense.
