%header.tape.flex
  .chaptername.right Marketplace Exits
  .chapter.flex Chapter 8

%main.leaf
  .inner.justify
    %p.push In short, it’s a binary outcome for most marketplace start-ups at both the beginning and end. Be sure to set your expectations and business model accordingly.    