%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %p For the purpose of this handbook, we’re also including those marketplaces where transactions are initiated but not processed on the platform — for example, lead generation sites like Thumbtack where providers send quotes through the platform. By contrast, a review site like Yelp is not a marketplace, since there’s generally no transactional element involved.

    %h2.center MARKETPLACE TYPES
    %p A marketplace can be categorized in terms of its participants (on both the supply and demand side):
    %ul
      %li P2P (peer-to-peer): This is a grassroots transaction where private individuals sell their goods to peers. For example, the early days of eBay and Airbnb were dominated by private individuals.
      %li B2C (business-to-consumer): As a marketplace gains traction, its seller base inevitably professionalizes as two things happen: 1) existing businesses see the opportunity and sign on to the platform and 2) private individuals find success on the marketplace and formalize their activities into a business.
    .right [Contd.]