%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction to Marketplaces

%main.leaf
  .inner.justify
    %p And once a marketplace achieves liquidity, it’s hard for others to compete. That’s why you probably can name only one online auction site.
    %p But, as many entrepreneurs find out, it’s hard to get the virtuous cycle of supply and demand to reach liquidity. You need to ramp up both sides in near unison. If there are buyers but few sellers, the buyers leave. Yet if there are no buyers, how do you convince the sellers to sign on?  
    %p After AbeBooks was acquired by Amazon, Boris moved into investing, first as an angel and now with Version One Ventures, with Angela Tran Kingyens joining in 2013. Over the past decade, Version One has invested in great marketplace companies, such as Drover, Dwellable, Headout, Indiegogo, Kinnek, Shippo, Top Hat and VarageSale. We have learned from and helped many passionate entrepreneurs looking to break down the walls for how goods are bought and sold in their particular space.
    %p What follows here are some of the insights we’ve learned while observing, funding, and building marketplaces for more than two decades. 
