%main.leaf.flex
  .inner.justify
    %h1 PREFACE 
    %p.center TO 
    %h1 THE SECOND EDITION
    .copyright
      %hr
      %p — Angela Tran Kingyen & Boris Wertz
      %p San Francisco, CA - March 2018. 
      %p ©2018 Version One Ventures. All rights reserved. 
      %p All trademarks are the property of their respective owners.



