.copyright {
  width: 70vw;
  border-left: 2vw solid #e42127;
  padding: 2vw 3vw;
  font-family: monospace;
  font-size: 60%;
  text-align: left;
  float: left;
  position: absolute;
  bottom: 5vh;
  left: 5vw; }
