%header.tape.flex
  .chapter.flex Chapter 4
  .chaptername New marketplace types

%main.leaf.flex
  .inner.justify
    %p Second, you may have to contend with some sellers who want to use your tool, but aren’t too eager to join a marketplace that puts them in competition with others. And third, market dynamics require ongoing use of the marketplace. OpenTable has succeeded because people are always looking for a new restaurant to try, so the marketplace provides continuous value. This approach won’t work in those cases where consumers prefer a “monogamous relationship” like with doctors.

    %h4.center DECENTRALIZED MARKETPLACES
    %p Over the past few years, we have been closely following the evolution of blockchain technology and looking at the potential impact that blockchain will have on the marketplace landscape.
    %p In terms of decentralized marketplaces today, OpenBazaar is really the only game in town for buying/selling physical products. It’s an open source project to create a peer-to-peer commerce network using Bitcoin. With OpenBazaar, there’s no middle man: the platform connects buyers and sellers directly. 