%header.tape.flex
  .chaptername.right Seeding, Growing and Scaling a Marketplace
  .chapter.flex Chapter 2

%main.leaf.flex
  .inner.justify
    %p You can adopt two strategies to minimize the impact of these competitive dynamics: protect the supply and protect buyer mindshare.
    %ul
      %li Protect supply: You can’t keep your supply unique when sellers list on other sites. Don’t give your sellers any reason to seek out other marketplaces. For example, you can lower listing/transaction fees for unique inventory, tie sellers to your site through reviews (which cannot be transferred to other marketplaces), or find some other innovative model like Uber’s leasing model.
      %li Win buyer mindshare: While strategies like Uber’s leasing model can slow down the drain of your unique supply to other marketplaces, they won’t stop it altogether. It’s much more effective, and important, to win buyer mindshare.
    %p For example, Etsy has done an incredible job driving loyalty and repeat usage. As reported in its 2016 Annual Report, a large and growing number of Etsy buyers have made purchases on two or more days within the year. (See overleaf)


