%header.tape.flex
  .chapter.flex Chapter 4
  .chaptername New marketplace types

%main.leaf.flex
  .inner.justify
    %p
      These are important questions and we’re still not certain in what ways a decentralized marketplace can disrupt a well-functioning centralized marketplace. Will a decentralized marketplace replace a centralized one, or will blockchain technology become a part of an existing marketplace?
    %p 
      While there may be challenges associated with replacing well-established marketplaces, tremendous opportunities exist to enable something new and create a brand new generation of marketplaces. Prime candidates are marketplaces for digital assets that allow anyone in the world to conduct a transaction with any other participant without having a central instance manage the transaction (e.g. payment settlement, etc.). 
    %p Examples include:
    %ul
      %li Prediction markets like Augur or Gnosis that enable completely new financial products (buying and selling options; insurances/betting on potentially any “event” in the world)
      %li Decentralized storage (Filecoin, Sia) and computing markets (Golem) that can leverage underused computing power and replicate the Airbnb model for digital assets
