%header.tape.flex
  .chaptername.right Working With Investors
  .chapter.flex Chapter 7



%main.leaf.flex
  .inner.justify
    %p Taking Etsy as an example, after it went public...
    %ul
      %li Consensus estimate of approximately $270M for 2015 revenue
      %li $2.4B for 2015 GMV
      %li Take rate of about 11%
      %li YoY growth for most recent quarter (ending Q1 2015): 45%

    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background56.jpg", width: "100%"} 
    %label.center.absolute
      %p.caption 
        Source: Bessemer Venture Partners, SlideShare “Valuations: What is happening and does it matter?”

    