%header.tape.flex
  .chaptername.right New marketplace types
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %p And since there’s no one in the middle of a transaction, there are no fees and no restrictions on what goods can be listed and sold. OpenBazaar realizes blockchain’s promise to bring power back to the edge (aka the users).
    %p A decentralized marketplace is an interesting proposition and we are eagerly watching how new marketplaces based on blockchain may disrupt industries. However, the big question is if a decentralized platform will be able to create the same great customer experience that we’ve grown accustomed to on centralized marketplaces.
    %p Can a decentralized platform offer the same kind of UX, conflict resolution tools, and customer service? And how much do these things this matter? Are customers willing to pay a fee for a smoother, sleeker, more trustworthy experience?

    %p The other question is will decentralized marketplaces be pushed to the fringe and just attract buyers and sellers for illicit goods? If so, just how scalable are these kinds of use cases?
