%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %p The first approach is to develop or offer these add-on products and services yourself. For example, Uber connects its drivers with exclusive leasing and financing offers. And Uber drivers who complete at least 100 trips each month can get a partner Fuel Card for gas and car maintenance purchases. The card offers a minimum 1.5% discount at participating gas stations/ mechanics and any charges are deducted from one’s Uber earnings. Other benefits are that the card doesn’t require a credit check and won’t impact the driver’s personal credit.
    %p The second approach is to support the third-party services that spring up around your site. Marketplaces have a tremendous opportunity to scale into a platform with an entire ecosystem of value-added services and startups.
    %p The success of Airbnb has sparked an ecosystem of value-added services, with startups offering property management services, guest screening, catering, and guest hop services for hosts. We saw a similar ecosystem emerge around eBay, with companies forming to take care of shipping, photos, insurance, and consignment.
