%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %ol{ start: "4"}
      %li
        %p Buying inventory artificially creates supply, improving the way the marketplace works at the outset. It’s an easy way to get inventory in the early stage, but it’s not scalable as it obviously gets expensive to both buy and manage inventory yourself.
      %li
        %h6 Aggregate readily accessible inventory
        %p The last strategy is to aggregate inventory that’s already listed somewhere, for example through affiliate programs. This approach will provide the initial scale that you’re looking for, but there are several key drawbacks. First, while you may have a lot of inventory, none of it will be unique: why should buyers come to your site instead of the other sites you’re pulling inventory from?
        %p The second problem is that when you aggregate existing inventory, you run the risk of becoming a cross-platform utility rather than your own marketplace with lots of highly engaged users. 