%header.tape.flex
  .chaptername.right Marketplace Metrics
  .chapter.flex Chapter 5


%div.message
  Our Marketplace KPI Dashboard, available for download 
  %a{href: "https://docs.google.com/spreadsheets/d/1K5E1Nzjq4KEvGVv6EysGswTuQm5u21Sa2ugSZewrZqE/edit#gid=1569059121"} here.