body {
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/xl.jpg);
	background-size: 200% 100%;
	background-position: right center;
}

.message {
	height: 3vh;
	padding: 2vw;
	width: 60vw;
	position: absolute;
	top: 40vh;
	right: 0;
	background: rgba(0, 100, 255, 0.7);
	color: white;
	font-size: 70%;
	font-style: italic;
}

