iframe {
	position: absolute;
	right: 0;
	top: 0;
}

.message {
	height: 3vh;
	padding: 2vw;
	width: 60vw;
	position: absolute;
	top: 50vh;
	right: 0;
	background: rgba(0, 100, 255, 0.7);
	color: white;
	font-size: 70%;
	font-style: italic;
}

