.leaf.flex
  .inner.center
    %img{ src: "https://raw.githubusercontent.com/bookiza/bookiza.cli/master/assets/images/bookiza.png", width: "40%" }/
    %p 
      Baked with 
      %a{ href: "http://bookiza.io" } Bookiza


