%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %h2.center WHAT’S A MARKETPLACE?
    %p An online marketplace is a type of e-commerce site that connects those looking to provide a product or service (sellers) with those looking to buy that product or service (buyers). These buyers and sellers may have had trouble finding each other before, and thus the marketplace creates efficiency in an otherwise inefficient market.
    %p eBay’s launch in 1995 sparked the first wave of product-focused marketplaces, and Uber’s success in 2010 brought a second wave of marketplaces for services, and combinations of product and service marketplaces (such as food delivery). And today, we’re approaching a third wave of information marketplaces fueled by blockchain technology.
    %p With the explosion of marketplaces, there are now sites to connect bands with music venues, homeowners with snow plowing services, and students with used textbooks.
    %p While these marketplaces spread across diverse market segments, there are two common elements to every online marketplace.
