%header.tape.flex
  .chapter.flex Chapter 7
  .chaptername Working With Investors

%main.leaf.flex
  .inner.justify
    %ul
      %li What is the average price point? What is the most popular price for purchases?
      %li What is the average discount offered by vendors (if any)?
      %li What are the common characteristics of the most successful vendors?
      %li What percentage of vendors do you need to sign up (in a particular area) for critical mass or starting liquidity?
    %h5 In general:
    %ul
      %li To get a greater sense of product-market fit: what is the total number of downloads to date, number of users (suppliers and buyers), etc.?
      %li Are there any overlaps between suppliers and buyers? If so, what percent? (Note: this question won’t be applicable to every marketplace)
      %li What is your GMV? What is your take rate?
      %li What are your sources of traffic for users?
      %li What is your CAC by channel?
    %p Wherever applicable, we ask for average values (i.e. spend, price, buyers, suppliers, time) and absolute numbers and distributions.      