%header.tape.flex
  .chaptername.right Seeding, Growing and Scaling a Marketplace
  .chapter.flex Chapter 2

%main.leaf.flex
  .inner.justify
    %ol
      %li
        %h6 Identify unique inventory
        %p One of the best types of suppliers to target are those people who don’t already sell online. For example, Etsy went after the producers of hand-made goods. These designers and crafters found their unique goods buried within eBay’s massive inventory and typically resorted to selling their items locally at craft shows, farmers’ markets, etc. Etsy came along and brought these local experiences online.
        %p The advantage of focusing on unique inventory is that it won’t take much effort to persuade providers to join once they’re made aware of your site. In addition, these types of sellers will typically bring along some of their own buyers – helping you ramp up your customer base at the same time.
      %li
        %h6 Convince existing sellers to list on your platform
        %p If your ideal suppliers already have an online outlet, you’ll need to be creative and exert more energy to convince them to join your young marketplace. Airbnb is a classic example.
    .right [contd.]