%header.tape.flex
  .chapter.flex Chapter 4
  .chaptername New marketplace types

%main.leaf.flex
  .inner.justify
    %p
      The company considered taking on these tasks to help out their sellers, but were advised against taking any inventory. It was too risky, complex, and expensive for such small ticket items. However, thredUP understood how much their sellers needed these service and went ahead with a managed model. People can order a bag, throw their things in, and thredUP takes care of the rest. After switching to a managed model, their business took off again. Inventory quality and variety has improved, making the marketplace more attractive to buyers.
    %p The takeaway? Sometimes it’s okay to deviate from conventional wisdom. thredUP listened to what their users needed and delivered on those needs (and only those needs — you don’t want to add costs by taking on more than what’s necessary).
    %p The core question is: how much value can you unlock by managing parts of the marketplace value without raising the risk profile too much?      
