%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify
  	%ul
      %li B2B (business-to-business): While B2B marketplaces have lagged behind P2P and B2C, this is now a fast-growing segment. Alibaba is the biggest player in the group, and we’re seeing the emergence of a new wave of B2B startups, such as Kinnek, focused on making procurement and supply chains more efficient for the long-tail SMB market.  		  	}
