%header.tape.flex
  .chaptername.right Working With Investors
  .chapter.flex Chapter 7



%main.leaf.flex
  .inner.justify
    %h3.center SO WHAT ABOUT EARLY-STAGE MARKETPLACES?
    %p These calculations apply to marketplaces that have already solved the chicken-and- egg problem, reached liquidity, and have become a category leader. But you might be wondering how to value your early-stage marketplace startup.
    %p Early-stage companies are valued very differently. In this case, metrics don’t count- we’re evaluating the team, idea, and vision. Then as the marketplace starts to scale fast, the multiples are often very high because growth is high as well. But you need to understand that your marketplace will ultimately be valued at 1x GMV.
    %p If you’re a founder of an early-stage marketplace, you should focus on two things:
    %ol
      %li Growing GMV
      %li Proving out take-rate
    %p Sometimes we see entrepreneurs who pitch impressive GMV numbers, but haven’t proven that they can ultimately get to a significant take rate. 