%header.tape.flex
  .chapter.flex Chapter 6
  .chaptername Marketplace Tools

%main.leaf.flex
  .inner.justify
    %h1 MARKETPLACE TOOLS
    %p As you’re building your marketplace, consider which tools and technology to leverage. There’s no reason to reinvent the wheel as new infrastructure solutions are emerging to help facilitate transactions on your platform, including: payment software, background checks, shipping and fulfillment solutions, and data privacy.

    %p With help from the 
      %a{ href: "https://www.facebook.com/groups/411528559001031/"}&nbsp;Marketplaces Facebook Group,&nbsp; 
      we have curated a list of recommended B2B tools by marketplace founders.

    %p You’ll see that most of these tools are relevant and useful to any software startup, and not just marketplace companies. However, a marketplace is unique in that it deals with distributed supply (and demand) and there aren’t many marketplace-specific tools out there yet to help with this.
