%header.tape.flex
  .chaptername.right Marketplace Tools
  .chapter.flex Chapter 6

%main.leaf.flex
  .inner.justify

    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background49.jpg", width: "100%"}
    %label.center
      %p.caption 
        %a{href: "https://www.plot.ly/python/dashboard/marketplace-kpi-metrics/"}&nbsp;Samples of KPI dashboards&nbsp;
        created by Vijay Nagappan, MHS Capital, using Plot.ly and Keen.io 
  
    
    %p With that said, some of the products on our list are designed to help third parties provide services and sell products: Shippo (a Version One investment), ShareTribe and Near Me, Stripe Connect and previously, Balanced (which has since shut down but most customers have moved over to Stripe).
    %p Here’s the bottom line: leverage good tools wherever you can, so you can focus on more valuable tasks like making connections and refining your business model.