%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %p You’ll typically need to differentiate in other ways in addition to lowering the take rate.

    %ol{ start: "2"} 
      %li 
        %h5 Go vertical
        %p A startup can unbundle a generalized marketplace and focus on creating the best product for a specific vertical. Many marketplaces have struck gold by picking one thing and doing it extremely well. For example: StubHub vs. Craigslist and HotelTonight vs. Expedia.
        %p This is a strategy that has been spectacularly effective for many verticals and the market map that venture capitalist Andrew Parker’s created back in 2010 has become the blueprint for tracking the different companies that have chosen to carve out niches from Craigslist. 
        David Haber offered an updated chart at the end of 2012 to demonstrate just how effective the vertical strategy can be.
        %p In some cases, marketplace businesses build traction in smaller verticals before expanding their reach. Geographical marketplaces often nail one location before expanding into new territories.
        .right [contd.]