.content.flex
  .center
    %img.circle{ alt: "symbol", src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/end.jpg", width: "50%"}/
    %h6.brand Second Edition
%footer.flex
  .element.center.small
    %img{ src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/versionone.jpg", width: "100%" }/

  .element.center 
    %p.small Vancouver Office
    %p.small boris@versionone.vc @bwertz

  .element.center
    %p.small San Francisco Office
    %p.small angela@versionone.vc @atkingyens

