%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %p Shopify, a SaaS provider of e-commerce stores for SMBs, has done an excellent job of understanding and formalizing the role that third-party developers play in enhancing Shopify’s overall value to sellers; they even brought on a Head of Apps and Third Party Developer Ecosystem. In the Shopify Apps Store, sellers can find third-party apps for selling, marketing, inventory management, customer support, shipping, reporting/analytics, and more.
    %h3 4. Prevent leakage
    %p With many marketplaces, there’s a real risk that buyers and sellers will settle the transaction off platform, preventing the marketplace from capturing any revenue from the transaction it worked so hard to put together. This is particularly true with “monogamous”, non-commoditized services. For example, once you find a good babysitter or doctor, you won’t want to look around for a different provider.
    %p Charles Hudson provided a great analysis on the role of a well-designed rating system to combat leakage. In order for a rating system to have an impact, suppliers need to value their rating and buyers need to trust the quality of the rating system. 