%header.tape.flex
  .chaptername.right Seeding, Growing and Scaling a Marketplace
  .chapter.flex Chapter 2

%main.leaf.flex
  .inner.justify
    %h3 STAGE 2: GROWING A MARKETPLACE… HOW TO SPARK THE VIRTUOUS CYCLE
    %p The virtuous cycle is the holy grail for online marketplaces. In this positive feedback loop, a high number of quality suppliers attract more customers; then more customers attract more suppliers to join. This cycle continues as a self-sustaining growth engine until both supply and demand reach critical mass to be “winner takes all.”
    %p But how does a marketplace create the momentum for a virtuous cycle in the first place?
    %h4 Identify and double down on the hot spots
    %p One of the most important things you can do is identify and double down on the things that work in your marketplace. As you start scaling, there will be many matches and transactions between buyers and sellers. But not all matches are created equal. Identify where things are clicking on both the supply and demand side. This could be in certain geographies, audience segments, price points, and user behavior.
