%header.tape.flex
  .chaptername.right A Guide to Marketplaces
  .chapter.flex
    %em Bibliography

%main.leaf.flex.small
  .inner
    %h5 Chapter 2
    %ul
      %li 
        “5 tips for building a two-sided marketplace.” Boris Wertz, Forbes. Feb. 7, 2013. 
        %a{href: "http://www.forbes.com/sites/ciocentral/2013/02/07/5-tips-for-building-a-two-sided-online-marketplace/" } 
      %li
        “Airbnb: The growth story you didn’t know.” Growth Hackers Case Study.
        %a{href: "https://growthhackers.com/companies/airbnb/"} https://growthhackers.com/companies/airbnb/
      %li
        “Cross Network Utility and Networks.” Fred Wilson, AVC.com. September 16, 2012.
        %a{href: "http://avc.com/2012/09/cross-network-utility-and-networks/"} http://avc.com/2012/09/cross-network-utility-and-networks/
      %li
        “Do things that don’t scale.” Paul Graham, Paul Graham,com. July 2013. 
        %a{href: "http://paulgraham.com/ds.html"} http://paulgraham.com/ds.html
      %li
        “Airbnb CEO Brian Chesky on building a company and starting a sharing revolution.” Derek Thompson, The Atlantic. August 13, 2013. 
        %a{href: "http://www.theatlantic.com/business/ archive/2013/08/airbnb-ceo-brian-chesky-on-building-a-company-and-starting-a-sharing- revolution/278635/"} http://www.theatlantic.com/business/ archive/2013/08/airbnb-ceo-brian-chesky-on-building-a-company-and-starting-a-sharing- revolution/278635/
      %li “How modern marketplaces like Uber and Airbnb build trust to achieve liquidity.” Anand Iyer. First Round Capital. 
        %a{href: "http://firstround.com/review/How-Modern-Marketplaces-Like- Uber-Airbnb-Build-Trust-to-Hit-Liquidity/"} http://firstround.com/review/How-Modern-Marketplaces-Like- Uber-Airbnb-Build-Trust-to-Hit-Liquidity/
      %li “Is the freemium model the future of marketplaces?” Boris Wertz, Version One Blog, March 31, 2015. 
        %a{href: "http://versionone.vc/freemium-model-future-marketplaces/"} http://versionone.vc/freemium-model-future-marketplaces/
      %li “Airbnb blooms an entire ecosystem of startups.” Jeremiah Owyang. April 21, 2014. 
        %a{href: "http:// www.web-strategist.com/blog/2014/04/21/airbnb-blooms-an-entire-ecosystem-of-startups/"} http:// www.web-strategist.com/blog/2014/04/21/airbnb-blooms-an-entire-ecosystem-of-startups/
      %li “Marketplaces, Rating Systems and Leakage.” Charles Hudson, Charles Hudson’s Blog. February 4, 2014. 
        %a{href: "http://www.charleshudson.net/marketplaces-rating-systems-and-leakage"} http://www.charleshudson.net/marketplaces-rating-systems-and-leakage
      %li
        Etsy, 2016 Annual Report.
        %a{href: "https://investors.etsy.com/~/media/Files/E/Etsy-IR/annual-report-proxy-materials/etsy-ar2016.pdf"} https://investors.etsy.com/~/media/Files/E/Etsy-IR/annual-report-proxy-materials/etsy-ar2016.pdf
      %li
        “Why India’s Flipkart abandoned its mobile website.” Rajiv Rao, ZDNet. March 27, 2015. 
        %a{href: "http://www.zdnet.com/article/why-indias-flipkart-abandoned-its-mobile-website/"} http://www.zdnet.com/article/why-indias-flipkart-abandoned-its-mobile-website/
