%header.tape.flex
  .chaptername.right Conclusion
  .chapter.flex Chapter 9

%main.leaf
  .inner.justify
    %p.push One third of Version One portfolio companies are marketplace companies, and with each company, we’re learning more about marketplace success strategies and how to overcome the challenges associated with liquidity and scaling. We’re excited to be active investors in this space and are looking forward to the journey ahead.

