%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %p eBay offers an official PowerSeller program where qualified sellers get priority customer support, unpaid item protection, a “top-rated Seller” designation, and other promotional offers. eBay does a great job organizing its local eBay On Location events to connect its sellers, provide additional learning/selling resources, and build a sense of community and identity around being an eBay seller.
    %p Threadflip sends its sellers shipping supplies like boxes, and even free mannequins to help them display used clothes (after they discovered that people are most likely to buy used clothes they see on a mannequin rather than worn on a real person). In addition, Anand mentioned how Threadflip’s leadership team has regular one-on-one calls with top sellers to find out what they like about the experience and what Threadflip could be doing differently.
    %h3 3. Develop an ecosystem
    %p Think about add-on products, services, and experiences that give sellers a deeper connection with your marketplace. These are incredibly effective ways to differentiate the selling experience on your marketplace from other sites, and lock sellers into your site.


