body {
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/xl.jpg);
	background-size: 200% 100%;
	background-position: left center;
}