%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %h3 2. Support your power sellers
    %p In addition to solving trust issues, the next step to scaling a marketplace is to support your power sellers — those sellers who earn a living off your marketplace. This approach may seem counter-intuitive for some startups that are typically used to pleasing end users (the buyers). But to be successful at scale, a marketplace needs good supply.
    %p Anand Iyer, former Head of Product at Threadflip, stated that Threadflip initially focused more on the buyer experience but shifted strategy when the net promoter scores indicated that sellers needed more support. He describes the importance of focusing on supply/sellers:
    %blockquote
      %em
        But for buyers, very little is actually out of the ordinary. Most people are used to buying or even ordering services online, either from Amazon or eBay. On the flipside, fewer people are used to shipping products, providing taxi service, or turning their home over to other occupants. For all these reasons, it’s crucial that marketplaces focus first on devising an elegant, instructive and — above all, easy — experience for suppliers.
    %p
      What are some of the ways a marketplace can support their top sellers? Here are some real-world examples:
