%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction to Marketplaces

%main.leaf.flex
  .inner.justify
    %ul
      %li The more value a marketplace provides, the more it’s able to charge in fees. For example, if a marketplace enables suppliers to find new buyers, then suppliers are more likely to tolerate higher fees.
      %li The more fragmented the overall market, the higher a marketplace’s take rate can be. That’s because high fragmentation reduces the negotiation power of marketplace participants.
      %li When transactions are concluded offline, it’s hard for a marketplace to track those transactions and monetize based on take rate. In Chapter 3, we’ll discuss other monetization strategies for these situations.
      
    %h2.center SELECTING THE RIGHT MARKET
    %p Bill Gurley of Benchmark Capital wrote the definitive post on which markets are the best fit for marketplaces: 
    %a{ rel: "nofollow", href: "http://abovethecrowd.com/2012/11/13/all-markets-are-not-created-equal-10-factors-to-consider-when-evaluating-digital-marketplaces/"} "All Markets Are Not Created Equal: 10 Factors To Consider When Evaluating Digital Marketplaces.” 

    %p While Bill laid out ten factors, we believe six to be essential:
