%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf
  .inner.justify
    %p Providing some level of guarantee — be it for service quality, delivery time, or payment — is critical for instilling trust on both sides. If your marketing claims you’ll be at your customer’s doorstep in 15 minutes, you need to make sure you can deliver on that promise. If a buyer never receives their item, you’ll need to be ready with a money-back guarantee. And, whenever the terms of the transaction are broken (on either side), you need to follow up with a very personal response.