%header.tape.flex
  .chaptername.right Working With Investors
  .chapter.flex Chapter 7


%main.leaf.flex
  .inner.justify
    %ul
      %li What is the average time to conversion? For some companies, this is the number one KPI. A company like Uber will focus on converting within a minute of the app opening, while a company like Airbnb wants a visitor to convert over multiple visits (but within a few days). The target conversion time for most marketplaces will probably fall somewhere in the middle. Hopefully, your time to conversion improves over time as you identify ways to reduce friction in the process.
      %li How many users have purchased more than once? What is the time between first and second time of purchase? Have users purchased in more than one city?
      %li What is the average time between booking and experiencing the purchase?
    %h5 On suppliers (i.e. vendors):
    %ul
      %li What percentage of vendors’ total inventory is made available on your marketplace?
      %li How often do suppliers list new inventory?
      %li What percentage of listings are purchased?
      %li How long is something posted before it is purchased?
      
