%header.tape.flex
  .chaptername.right Finding the right business model for your marketplace
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify

    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background33.jpg", width: "100%"}
    %label.center
      %p.caption 
        Care.com: Breakdown of free and paid/premium services, Source: 
      %p.caption         
        %a{href: "https://www.sec.gov/Archives/edgar/data/1412270/000104746913011159/a2217607zs-1.htm"} Care.com IPO Prospectus


    %p There are a few risks with the subscription model:
    %ul
      %li Charging buyers can limit the number of potential customers who join your site. Your value proposition needs to be very strong to entice consumers to pay a subscription in order to buy a product or service.
      %li There’s also the question of how long any buyer will remain a paying subscriber. Unlike a SaaS app which can be continually useful, the lifespan of a marketplace’s utility can be rather limited. 