%header.tape.flex
  .chapter.flex Chapter 7
  .chaptername Working With Investors

%main.leaf
  .inner.justify
    %p.push For example, a marketplace that generates leads instead of being part of the transaction might have a take rate as low as 2-3%. In this case, the GMV needs to be 5x bigger than a comparable marketplace with a 10-15% take rate.
    %h6
      %em The bottom line? Don’t wait too long to prove out your monetization.