%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction to Marketplaces

%main.leaf.flex
  .inner.justify
    %h2.center GO VERTICAL: THE SPAWN OF CRAIGSLIST
    %img{ src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background14.jpg", width: "100%" }/  
