body {
	height: 100vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/craigslist.jpg);
	background-position: left center;
	background-size: 200% 100%;
}

.heading {
	position: absolute;
	top: 25vh;
	text-align: center;
}