body {
	height: 100vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/craigslist.jpg);
	background-position: right center;
	background-size: 200% 100%;
}