%header.tape.flex
  .chaptername.right  AIRBNB’S TRUST & SAFETY TEAM
  .chapter.flex CASE STUDY:

%main.leaf
  .inner.justify
    %p
      %strong 
        The following is extracted from Growth Hackers case study:
    %p 
      %a{ href: "https://growthhackers.com/companies/airbnb/"} Airbnb: The growth story you didn’t know.
    %p
      Airbnb has managed to accomplish the once unimaginable: make people feel safe and secure when opening up their home to strangers or staying in someone else’s place. There have been some hiccups, company missteps, and security issues over the years, as can be expected with a platform that has more than 200 million guests since 2008 and 4 million properties listed worldwide (as of August 2017).
    %p Here are some of the key ways that Airbnb has managed to overcome the inherent trust issue and instill confidence within their community:

    %ol 
      %li 
        %strong Professional photographs did a lot to inspire trust 
        on one side of the equation, as it helped to ensure that listings weren’t complete dumps, and also verified addresses of listed properties.
      %li
        In 2011, 
        %strong Airbnb introduced Airbnb Social Connections, 
        which leverages Facebook Connect. As a result, guests weren’t necessarily staying with total strangers, but friends of friends, people from the same school, or hosts that were recommended by friends.
      %li 
        In response to some specific incidents in 2011 (when host homes were ransacked and robbed), 
        %strong Airbnb created a dedicated Trust and Safety team 
        that’s on call 24 hours a day, as well as a neighborhood hotline where neighbors can report any questions or concerns.
      %li 
        In 2012, 
        %strong Airbnb partnered with Lloyds of London 
        to expand their guarantee to cover damages to host property from vandalism or theft. They now cover every booking with their $1,000,000 Host Guarantee (with some limitations and exceptions).