%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf
  .inner.justify
    %p The bottom line is this: if you are building a marketplace, you need to devise an effective strategy for ramping up supply. The next stage is getting to that virtuous cycle of supply and demand.