%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify
    %ol{ start: "6"}
      %li 
        %h5 The ability to expand the overall market and create value
        %p Virtually all marketplaces create efficiency: they make it easier for buyers and sellers to find each other and complete a transaction. But, not all marketplaces create value equally. For example, marketplaces may connect schools with substitute teachers, visiting doctors with hospitals, commercial landlords with retailers interested in setting up pop-up shops.
        %p These all certainly increase efficiency, but they might not necessarily expand the market. The likely reason is because there’s finite supply and finite demand. In other words, a new marketplace won’t create a new crop of teacher or doctors, or school and hospitals. And in the absence of a new online marketplace, both sides would probably find each other eventually, albeit in a less efficient way.
        %p The best marketplaces can tap into new groups of participants and grow the overall number of transactions. The sharing economy is a great example of creating value. People who never thought they’d be landlords or hotel proprietors are now hosts on Airbnb. 
