%header.tape.flex
  .chapter.flex Chapter 4
  .chaptername New marketplace types

%main.leaf.flex
  .inner.justify
    %h2.center COMMUNITY-DRIVEN MARKETPLACES
    %p Some marketplaces leverage the community of buyers and sellers to create a unique differentiator. Here, buyers and sellers visit the marketplace not just to complete a transaction, but also for a sense of identity and belonging. They meet and form communities with others who have similar interests.
    %p Etsy is a prime example of a marketplace that has built a business around community and culture. From Etsy’s 10th anniversary blog: “Over time, Etsy has come to represent something even more powerful: an alternative to traditional commerce and a different, people-centered model for doing business.” Etsy calls itself more than a marketplace: “we’re a community of artists, creators, collectors, thinkers and doers.”
    %p To support their community, Etsy added team functionality to its marketplace, letting users (sellers and buyers) create and join teams around shared interests. They also host official craft nights in Brooklyn and other local meetups.
