%header.tape.flex
  .chaptername.right New marketplace types
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %ul
      %li A managed marketplace can involve considerable risk involved — for example, should you guarantee the sale and take on sellers’ inventory. If economic conditions worsen rapidly, such as the “overnight recession” in 2008, you’ll end up sitting on inventory that’s impossible to move.
      %li Lastly, a managed marketplace can have a higher take rate than a pure marketplace that just connects buyers and sellers. This can offset the premium service offerings and added risk.
    %p
      thredUP offers an interesting case study in finding the right managed model. thredUP works with a lot of children’s and mom’s clothing — not exactly big ticket items. It’s a great market opportunity for re-sale, because as any parent knows, it’s easy to over-spend on kids clothing and items are worn for only one season (or less). Moms were taking photos and cataloging their clothing, but soon they didn’t want to do it any more. Photographing clothes is a hassle.
