%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Seeding, Growing and Scaling a Marketplace

%main.leaf.flex
  .inner.justify
    %h1 SEEDING, GROWING, AND SCALING A MARKETPLACE

    %h4 STAGE 1: SEEDING A MARKETPLACE
    %p The earliest days in a marketplace are a tricky time. There’s a chicken and egg problem when it comes to supply and demand: customers need supply, and suppliers need customers. But it’s nearly impossible to ramp up supply and demand in lock step.
    %p We’ve found that in most cases it’s best to focus on building up the supply first. That’s because there’s more incentive for sellers to invest their time in the early days. There’s zero motivation for customers to stick around without any inventory.
    %p So how do you go about seeding supply? 
    %p Here are five common strategies:
