%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %p You can buy a hard-to-find copy of a used hardback from someone in San Francisco, read it, then sell it to someone else living in Dublin.
    Boris Wertz saw this transition first hand. Back in Germany in 1999, he launched an online marketplace for books, JustBooks. In 2002, JustBooks was acquired by AbeBooks and by 2008, AbeBooks was doing several hundred million dollars a year in transactions between buyers looking for rare prints, limited runs, and used textbooks and the sellers who had them. AbeBooks was subsequently acquired by Amazon in 2008.

    %p The online marketplace is a true example of a green-field opportunity. Whether it’s rare books or home repair services, an online marketplace brings buyers and sellers together in ways that were never possible before. It creates new buying and selling opportunities. And, unlike an e-commerce site, anyone can build a marketplace with minimal capital requirements since there’s no inventory to buy, build, or manage.
    %p As a result, the marketplace business model has attracted countless entrepreneurs. When a marketplace works, it works really well. There’s high potential for long-term profits at scale. 