%header.tape.flex
  .chaptername.right Second Edition
  .chapter.flex Preface 


%main.leaf
  .inner.justify
    %p We have retained much of the previous organization, and have aimed to keep it a quick and easy read. Major additions include an entirely revised section on decentralized marketplaces as well as marketplace exits. And throughout the book, examples have been updated as needed. We hope you find the second edition as useful as the first.

    .right
      .subhead.uppercase — Angela Tran Kingyen & Boris Wertz
      .subhead San Francisco, CA - Friday, March 30, 2018 - Seven Leafs



.copyright
  %hr
  %p Pub Date: March 2018. ©2018 Version One Ventures. All rights reserved. All trademarks are the property of their respective owners.
  %p San Francisco, CA - March 2018. 



