%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Finding the right business model for your marketplace

%main.leaf
  .inner.justify
    %p Just like with Etsy’s Premium Seller Services model, this approach offers the best of both worlds: low starting fees that encourage broad supplier adoption (and supply liquidity) along with added revenue from those suppliers who want more exposure, or whatever other enhanced services you offer. You won’t turn anyone away due to high fees, but can still boost your take as suppliers compete with one another.   