%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify

    %p …commoditized products where you source products from the same supplier (e.g. diapers on the consumer side and raw materials for businesses).

    %ol{ start: "3"}
      %li 
        %h5 Higher frequency
        %p Bill Gurley said, “All things being equal, a higher frequency is obviously better. GrubHub, OpenTable, 1stdibs (for the designer) and Uber are all high frequency use cases, where consumers can rely on the marketplace as a utility. Many failed marketplaces attack purchasing cycles that are simply way too infrequent, which makes it much more difficult to build brand awareness and word-of-mouth customer growth.”
        %p 
          When evaluating frequency, it’s important to differentiate between how often a buyer users a service and how often they use the marketplace. For example, you might need a babysitter every day, but you only look for a new babysitter every two years (back to point 
          %a{ class: "page", href: "19"} #2
          ).



