%header.tape.flex
  .chaptername.right New marketplace types
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %p Lyft has thus far been able to hold its own by building a strong culture and sense of identity around its drivers. Driver meetups and community rallies are a longstanding Lyft tradition. There’s also a private Facebook group (the Driver Lounge) where Lyft drivers can meet other local drivers, share stories, connect over common interests, and organize local events. Such efforts pay off in the form of better brand loyalty for the drivers, and a more unique culture for riders.
    %p And at Boris’ old company, AbeBooks, the seller community was incredibly active and the marketplace gave them a place to come together as booklovers. To help foster this sense of community, AbeBooks created online community forums, which evolved into book clubs, science fiction groups, collector groups, help with forgotten authors, titles, etc.
    %h5 SAAS-ENABLED MARKETPLACES
    %p Today we’re seeing a new segment of companies that offer SaaS tools with the ultimate plan of building a marketplace. Such companies attract users (either customers or sellers) with a useful and typically free tool, then encourage them to participate in the marketplace. Chris Dixon described this approach, “come for the tool, stay for the network.”

