%header.tape.flex
  .chaptername.right A Guide to Marketplaces
  .chapter.flex
    %em Bibliography

%main.leaf.small.flex
  .inner
    %ul
      %li
        Version One Marketplace KPI Spreadsheet. 
        %a{href: "https://docs.google.com/spreadsheets/d/1K5E1Nzjq4 KEvGVv6EysGswTuQm5u21Sa2ugSZewrZqE/edit#gid=1569059121"} Google XL
      %li
        “KPIs & Dashboards: Must-haves for Early Stage Startups.” Vijay Nagappan, Batting399.com. August 17, 2015. 
        %a{href: "http://www.batting399.com/post/126915896445/kpis-dashboards-must-haves-for-early-stage"} http://www.batting399.com/post/126915896445/kpis-dashboards-must-haves-for-early-stage
      %li
        “How to win with marketplaces: The three success factors.” Sangeet Paul Choudary, TheNextWeb. May 4, 2013. 
        %a{href: "https://thenextweb.com/entrepreneur/2013/05/04/how-to-win-with-marketplaces-the-three-success-factors/"} https://thenextweb.com/entrepreneur/2013/05/04/how-to-win-with- marketplaces-the-three-success-factors/
      %li 
        “How to measure your success: The key marketplace metrics.” Juho Makkonen, Marketplace Academy. June 9, 2016. 
        %a{href: "https://www.sharetribe.com/academy/measure-your-success-key-marketplace-metrics/"} https://www.sharetribe.com/academy/measure-your-success-key- marketplace-metrics/
      %li
        “How To Structure A Marketplace.” Simon Rothman, TechCrunch. August 19, 2012. 
        %a{href: "https:// techcrunch.com/2012/08/19/how-to-structure-a-marketplace/"} https:// techcrunch.com/2012/08/19/how-to-structure-a-marketplace/

    %h5 Chapter 7
    %ul
      %li 
        “All Markets are Not Created Equal: 10 Factors to Consider When Evaluating Digital Marketplaces.” Bill Gurley, Above the Crowd. Nov. 13, 2012. 
        %a{href: "http://abovethecrowd. com/2012/11/13/all-markets-are-not-created-equal-10-factors-to-consider-when-evaluating-digital-marketplaces/"} http://abovethecrowd. com/2012/11/13/all-markets-are-not-created-equal-10-factors-to-consider-when-evaluating-digital-marketplaces/
      %li
        “Marketplace Funding in 2016.” Version One and Point Nine Capital. 
        Spreadsheet: 
        %ul
          %li
            Spreadsheet:&nbsp;
            %a{href: "https://docs.google.com/spreadsheets/d/1DaRrcgYXKJIzjgTK_rgGfaRLIU3LTdVTa3kfMEmCCK8/edit#gid=0 "} Google Docs XL
          %li
            Image:&nbsp;
            %a{href: "http://versionone.vc/wp-content/uploads/2016/07/Marketplace-Napkin.pdf"} Marketplace napkin

      %li
        “Building your user engagement pyramid.” Version One. December 15, 2014. 
        %a{href: "http://versionone.vc/engagement-pyramid/"} http://versionone.vc/engagement-pyramid/
      %li
        “Valuations: What is happening and does it matter.” Bessemer Venture Partners, SlideShare Feb. 2015. 
        %a{href: "http://www.slideshare.net/taliagold/valuation-presentation-blog-version"} http://www.slideshare.net/taliagold/valuation-presentation-blog-version
      %li
        “This Is How Public Consumer Marketplaces Are Valued.” Mahesh Vellanki. October 7, 2015.
        %a{href: "http://www.mahesh-vc.com/blog/this-is-how-public-consumer-marketplaces-are-valued"} http://www.mahesh-vc.com/blog/this-is-how-public-consumer-marketplaces-are-valued