%header.tape.flex
  .chapter.flex
    %em Bibliography 
  .chaptername A Guide to Marketplaces

%main.leaf.flex.small
  .inner
    %h1 RESOURCES
    %h5 Chapter 1
    %ul
      %li 
        “Alibaba is just the beginning: How B2B will thrive (for real, this time).” Boris Wertz, GigaOm. June 30, 2013. 
        %a{href: "https://gigaom.com/2013/06/30/alibaba-is-just-the-beginning-how- b2b-marketplaces/"} https://gigaom.com/2013/06/30/alibaba-is-just-the-beginning-how- b2b-marketplaces/

      %li 
        “All Markets are Not Created Equal: 10 Factors to Consider When Evaluating Digital Marketplaces.” Bill Gurley, Above the Crowd. Nov. 13, 2012. 
        %a{href: "http://abovethecrowd.com/2012/11/13/all-markets-are-not-created-equal-10-factors-to-consider-when-evaluating- digital-marketplaces/"} 
      %li
        “How to miss by a mile: An alternative look at Uber’s potential market size.” Bill Gurley, Above the Crowd. July 11, 2014. 
        %a{href: "http://abovethecrowd.com/2014/07/11/how-to-miss-by-a- mile-an-alternative-look-at-ubers-potential-market-size/"} http://abovethecrowd.com/2014/07/11/how-to-miss-by-a- mile-an-alternative-look-at-ubers-potential-market-size/
      %li 
        “Undoing incumbent marketplaces: Lowering the take rate.” Albert Wegner, Continuations. January 26, 2015. 
        %a{href: "http://continuations.com/post/109215849455/undoing-incumbent- marketplaces-lowering-the-take"} http://continuations.com/post/109215849455/undoing-incumbent- marketplaces-lowering-the-take
      %li 
        “As vertical markets rise, Craigslist faces its demise.” Jeremy Levine, TechCrunch. April 10, 2015. 
        %a{href: "http://techcrunch.com/2015/04/10/as-vertical-marketplaces-rise-craigslist-faces-its- demise/"} http://techcrunch.com/2015/04/10/as-vertical-marketplaces-rise-craigslist-faces-its-demise/
      %li 
        “How to build an enduring, multi-billion dollar business.” Sarah Tavel, Medium. February 15, 2016. 
        %a{href: "https://medium.com/@sarahtavel/how-to-build-an-enduring-multi-billion-dollar- business-hint-create-a-10x-product-recast-3527df2b8fcb"} https://medium.com/@sarahtavel/how-to-build-an-enduring-multi-billion-dollar- business-hint-create-a-10x-product-recast-3527df2b8fcb
      %li
        “The spawn of Craigslist.” Andrew Parker, The Gong Show. January 21, 2010. 
        %a{href: "http:// thegongshow.tumblr.com/post/345941486/the-spawn-of-craigslist-like-most-vcs-that-focus"} http:// thegongshow.tumblr.com/post/345941486/the-spawn-of-craigslist-like-most-vcs-that-focus
      %li
        “The Magic of Liquidity: Web Marketplaces Still Have A Long Way To Go.” David Haber, TechCrunch. December 1, 2012. 
        %a{href: "https://techcrunch.com/2012/12/01/the-future-of-online-marketplaces/"} https://techcrunch.com/2012/12/01/the-future-of-online-marketplaces/
      %li
        “Zero to One in Data Science: The Tophatter Story.” Angela Tran Kingyens, Version One Blog. August 3, 2017. 
        %a{href: "http://versionone.vc/data-zero-one/#ixzz53mLO26tO"} http://versionone.vc/data-zero-one/#ixzz53mLO26tO

