%header.tape.flex
  .chaptername.right Introduction to Marketplaces
  .chapter.flex Chapter 1


%main.leaf.flex
  .inner.justify
    %p When we think about direct network effects, we consider the roles of the participants. In a marketplace, users are buyers, sellers, or sometimes both. Likewise, in a community or social platform, users can be content creators, content consumers, or both.
    %p In a marketplace, the roles of a buyer and seller are typically distinct — effectively creating two-sided network effects. When there’s overlap between buyers and sellers, it’s easier to get your network off the ground at the beginning as you’ll achieve liquidity more quickly. For example, in Etsy, Craigslist, and Airbnb, we see some overlap between buyers and sellers (or hosts and guests in Airbnb’s case).
    %p While overlap helps a marketplace at the beginning, two-sided network effects add to the defensibility of your marketplace over time (since there’s more fragmentation). For example, with Uber, there’s little overlap between drivers and riders.
    %p We also need to consider how network effects fall on the local-global spectrum:
