%header.tape.flex
  .chapter.flex Chapter 4
  .chaptername New marketplace types

%main.leaf.flex
  .inner.justify
    %p SaaS-enabled marketplaces can be either B2B, B2C or C2C and the SaaS component can be offered to the demand and/or supply side. Point Nine Capital mapped out a high-level overview of the SaaS-enabled marketplace ecosystem.

    
    %img.overlay{src: "https://raw.githubusercontent.com/marvindanig/a-guide-to-marketplaces/master/assets/images/background41.jpg", width: "100%"}
    %label.center
      %p.caption 
        Source: 
        %a{href: "https://medium.com/point-nine-news/an-overview-of-the-growing-saas-enabled-marketplace-ecosystem-b4f5314356e5"} Point Nine Capital
